*{
    box-sizing:border-box;
}

body{
    margin:0;
    font-family:'Cairo',sans-serif;
    background:#fafcfb;
}

.hero{
    position: relative;
    overflow: hidden;

    background: linear-gradient(
        135deg,
        #f7fcf9 0%,
        #eef9f2 45%,
        #f9fcfa 100%
    );

    color: #1d3b2a;
    text-align: center;
    padding: 80px 20px;
}

.hero::before{
    content:"";
    position:absolute;

    width:500px;
    height:500px;

    top:-180px;
    right:-120px;

    background:rgba(0,166,90,.08);
    border-radius:50%;

    filter:blur(90px);
}

.hero::after{
    content:"";
    position:absolute;

    width:350px;
    height:350px;

    bottom:-120px;
    left:-80px;

    background:rgba(0,166,90,.05);
    border-radius:50%;

    filter:blur(80px);
}

.hero h1{
    color:#006C35;
    font-size:42px;
    font-weight:700;
}

.hero p{
    color:#5c7062;
}

#searchInput{
    width:100%;
    max-width:600px;
    padding:15px;
    border:none;
    border-radius:12px;
    margin-top:20px;
}

#categoryButtons{
    padding:20px;
    text-align:center;
}

.category-btn{
    background:white;
    color:#006C35;
    border:1px solid #DDE7E0;
    border-radius:30px;
    padding:12px 18px;
    margin:5px;
    cursor:pointer;
    transition:.2s;
}

.category-btn:hover{
    background:#006C35;
    color:white;
}

main{
    padding:25px;
}

#videos{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(340px,1fr));
    gap:25px;
}

.card{
    background:white;
    border-top:4px solid #006C35;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
}

.card:hover{
    transform:translateY(-5px);
}

.card img{
    width:100%;
}

.card-content{
    padding:18px;
}

.card h3{
    font-size:17px;
}

.category{
    color:#777;
}
.notice{
    background:rgba(255,255,255,.12);
    border:1px solid rgba(255,255,255,.25);
    border-radius:12px;
    max-Width: 240px;
}
